server:
  port: 1234

spring:
  datasource:
    url: ${DB_HOST}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration: 7200000 #2h
  refresh-token:
    expiration: 604800000 #7day

cloudinary:
  cloud-name: ${CLOUD_NAME}
  api-key: ${API_KEY}
  api-secret: ${API_SECRET}

vnpay:
  tmn-code: ${VNPAY_TMN_CODE} # VNPay Terminal ID for sandbox
  hash-secret: ${VNPAY_HASH_SECRET} # VNPay Secret Key
  pay-url: ${VNPAY_PAY_URL}
  return-url: ${VNPAY_RETURN_URL} # Frontend return URL (Vite default port is 5173)